.skip-to-content {
  z-index: 999;
  position: absolute;
  top: calc(var(--pico-spacing) * .75);
  left: calc(var(--pico-spacing) * .75);
  transform: translateY(-1000%);
  --pico-box-shadow: var(--pico-card-box-shadow);
  opacity: 0;
}

.skip-to-content:focus {
  transform: translateY(0);
  opacity: 1;
}
