<nav class="nav fluid-container__sidebar">
  <a href="#content" class="nav__skip">Skip to main content</a>
  <h1 class="nav__masthead"><a href="/"><span class="masthead__sub">{{ metadata.short_title }}</span><p>{{ metadata.author.short_name }}</p></a></h1>
  <p class="nav__summary">{{ metadata.description }}</p>
  <div class="nav__sections">
    {% include "components/nav.njk" %}
  </div>
  <section class="nav__section-title social">
    {% include "components/social.njk" %}
  </section>
</nav>
