{% for entry in collections.all | eleventyNavigation %}
  <a class="nav__section-title" href="{{ entry.url | url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
{% endfor %}
