<article>
  <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <p>{{ post.data.excerpt | excerpt }}</p>
  <span>
    {%- for tag in post.data.tags | filterTagList -%}
      {%- set tagUrl %}/tag/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" aria-label="tag {{ tag }}" class="inline-margin-end">#{{ tag }}</a>
    {%- endfor %}
  </span>
  <footer>
    <time datetime="{{ post.date | htmlDateString }}"><small>{{ post.date | readableDate }}</small></time>
  </footer>
</article>
