{% set title = item.data.title %}
{# {{ title | truncate(60, true, '...') }} #}
{% set definedDate = item.date %}
{% set description = item.data.description %}
<article>
  <a href="{{ item.url | url }}"><h2>{{ title }}</h2></a>
  {% include "components/date.njk" %}
  <p>{{ description | truncate(100, true, '...') }}</p>
</article>