<ul class="nav__tags">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tag/{{ tag | slug }}/{% endset %}
    {% set postCount = collections.posts | postByTag(tag) | length %}
    <li><a href="{{ tagUrl | url }}">{{ tag }}({{ postCount }})</a></li>
  {% endfor %}
</ul>
