<!doctype html>
<html lang="{{ meta.lang }}" class="scroll-smooth">
  <head>
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!--  inline base schema -->
    {% include "schemas/base-schema.njk" %}

    {% if schema == 'blog' %}
      <!--  inline blogpost schema  -->
      {% include "schemas/blogpost-schema.njk" %}
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | cacheBuster | url }}" />

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "components/meta-info.njk" %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {% include "components/top-navigation.njk" %}
    <main id="main">{{ content | safe }}</main>
    {% include "components/bottom-navigation.njk" %}
  </body>
</html>