---
layout: base
schema: blog
---
<h1 class="text-primary">{{ title }}</h1>
{% set definedDate = date %} <p>{% include "components/date.njk" %}</p>
{% if note %}
<div class="note">{{ note | safe }}</div>
{% endif %}
{% if image %}
  {% eleventyImage image, alt or title, null, "eager", "feature" %}
{% endif %}

{% if credit %}
  <small class="center block">© {{ credit }}</small>
{% endif %}

{% if tags.length > 1 %}
  <small>
    <div class="tags">
      {% for tag in tags %}{% if tag != "posts" %}
      <a href="/tags/{{ tag | slug }}">#{{ tag }}</a>
      {% endif %}{% endfor %}
    </div>
  </small>
{% endif %}

{{ content | safe }}
{% include 'components/buy-me-coffee.njk' %}
{% include 'components/edit-on.njk' %}
