---
layout: base
schema: blog
---
<article>
  <h1>{{ title }}</h1>
  {% set definedDate = date %}{% include "components/date.njk" %}
  {% if note %}
  <blockquote>{{ note | safe }}</blockquote>
  {% endif %}
  {% if image %}
    {% eleventyImage image, alt or title, null, "eager", "feature" %}
  {% endif %}

  {% if credit %}
    <p>© {{ credit }}</p>
  {% endif %}

  {% if tags.length > 1 %}
    <p>
      {% for tag in tags %}{% if tag != "posts" %}
      <a href="/tags/{{ tag | slug }}">#{{ tag }}</a>
      {% endif %}{% endfor %}
    </p>
  {% endif %}

  {{ content | safe }}
  {% include 'components/buy-me-coffee.njk' %}
  {% include 'components/edit-on.njk' %}
</article>