{% set authorImage = metadata.url + "/assets/images/profile-pic.jpg" | url %}
{% set socialImage = metadata.url + "/assets/images/banner.jpg" | url %}
{% set secondTitle = " - " + metadata.description if page.url === "/" else " - " + title %}
{% set ogImageUrl = ogImage if ogImage else socialImage %}
{% set ogImageAlt = title + " - " + metadata.title if ogImage else metadata.author.name %}
{% set currentPageUrl = metadata.url + page.url | url %}
{% set css %}
  {% include "css/prism-material-dark.css" %}
  {% include "css/global.css" %}
{% endset %}
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ metadata.title + secondTitle }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <style type="text/css">
      {{css | cssmin | safe}}
    </style>
    <meta name="google-site-verification" content="QfEK-rmBKbXGQ6woeJAgPBlfEJyLpoLmX3LwFqpYAcg"/>
    <meta name="description" content="{{ excerpt }}"/>
    <meta name="og:description" content="{{ excerpt }}" />
    <link rel="canonical" href="{{ currentPageUrl }}">
    <meta name="og:url" content="{{ currentPageUrl }}" />
    <meta name="og:site_name" content="{{ metadata.title }}" />
    <meta name="og:title" content="{{ metadata.title + secondTitle }}" />
    <meta name="og:locale" content="{{ metadata.language }}" />
    <meta name="og:type" content="website" />
    {% if '/posts/' in page.url and page.url !== "/posts/" %}
      {% ogImage "./og-image.og.njk", { title: title, author: metadata.author.name } %}
    {% else %}
      <meta name="og:image" content="{{ ogImageUrl }}" />
    {% endif %}
    <meta property="og:image:alt" content="{{ ogImageAlt }}" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="robots" content="index, follow" />
    <link rel="alternate" href="{{ metadata.feed.path + metadata.feed.xml }}" type="application/atom+xml" title="{{ metadata.title }}" />
    <meta name="color-scheme" content="light dark"/>
    <link rel="me" href="https://www.gurpreetsingh.me" />
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' }}">

    {% if '/posts/' in page.url and page.url !== "/posts/" %}
      <script type="application/ld+json">
        {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "author": {
    "@type": "Person",
    "name": "{{ metadata.author.name }}",
    "image": "{{ authorImage }}",
    "url": "{{ metadata.url }}"
  },
  "datePublished": "{{ date }}",
  "dateCreated": "{{ date }}",
  "description": "{{ excerpt }}",
  "url": "{{ currentPageUrl }}",
  "inLanguage": "{{ metadata.language }}",
  "image": "{{ ogImageUrl }}"
}
      </script>
    {% else %}
      <script type="application/ld+json">
        {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ metadata.url }}",
  "name": "{{ metadata.title }}",
  "description": "{{ metadata.description }}",
  "inLanguage": "{{ metadata.language }}",
  "author": {
    "@type": "Person",
    "name": "{{ metadata.author.name }}",
    "image": "{{ authorImage }}",
    "url": "{{ metadata.url }}"
  }
}
      </script>
    {% endif %}
  </head>
  <body>
    <a href="#content" class="skip-to-content contrast" role="button">Skip to main content</a>
    {% block content %}{% endblock %}
    {% if page.url === "/stats/" %}
      <script src="/assets/js/chart.umd.js"></script>
      <script>
        const ctx = document.getElementById("posts_per_year_chart");
        const getTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        const color = getTheme === "dark" ? "#01aaff" : "#0172ad";
        Chart.defaults.color = color;
        Chart.defaults.backgroundColor = color;
        Chart.defaults.borderColor = color;
        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: [{% for year, yearPosts in collections.posts | groupByYear | reverse %}{{ year }}{% if loop.last === false %},{% endif %}{% endfor %}],
            datasets: [
              {
                label: "Posts per year",
                data: [{% for year, yearPosts in collections.posts | groupByYear | reverse %}{{ yearPosts | length }}{% if loop.last === false %},{% endif %}{% endfor %}]
              }
            ]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            elements: {
              bar: {
                backgroundColor: color
              }
            },
            plugins: {
              legend: {
                labels: {
                  color: color
                }
              }
            }
          }
        });
      </script>
    {% endif %}
  </body>
</html>
