{% extends "layouts/base.njk" %}
{% block content %}
  <main class="fluid-container">
    {% include "components/header.njk" %}
    <section id="content" class="fluid-container__content">
      {{ content | safe }}
      {% include "components/footer.njk" %}
    </section>
  </main>
{% endblock %}
