---
title: About
permalink: /about/index.html
description: 'Gurpreet Singh, working with Publicis Sapient as senior architect, experience engineering'
layout: page
---

<img src="/assets/images/blog/author.jpg" alt="{{ meta.author.name }}" width="500" height="500" loading="eager" />

<p>I am working as Senior Architect eXperience Engineering (front-end architect) with Publicis Sapient.</p>

<p>Having more than 15 years of experience in the area of jQuery, JavaScript, HTML5, and CSS3. My expertise is to work on full stack-based projects using NodeJS and ReactJS.</p>

{% include 'components/buy-me-coffee.njk' %}
