---
title: Posts
description: 'All blog posts can be found here'
layout: page
pagination:
  data: collections.posts
  size: 12
permalink: 'posts/{% if pagination.pageNumber >=1  %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---
<p>This blog has a pagination of {{ pagination.size }} posts per page.</p>
<div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
  {% set itemList = pagination.items %}
  {% for item in itemList %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>
{% set collectionToPaginate = collections.posts %}
{% set metaKey = "blog" %}
{% if collectionToPaginate.length > pagination.size %}
  {% include 'components/pagination.njk' %}
{% endif %}