---
layout: page
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: '{{ meta.blog.tagSingle }}: {{ tag }}'
---
<div class="blog-list">
  {% set itemList = collections[tag] | reverse %}
  {% for item in itemList %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>
<hr />
<h2>{{ meta.blog.tagMore }}</h2>
<nav class="navigation-menu">
  <ul>
  {% set tagList = collections.tagList | reverse %}
  {% for tag in tagList %}
    <li><a href="/tags/{{ tag | slugify }}" role="button">#{{ tag }}</a></li>
  {% endfor %}
  </ul>
</nav>
