---
layout: page
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: '{{ meta.blog.tagSingle }}: {{ tag }}'
---
<div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
  {% set itemList = collections[tag] | reverse %}
  {% for item in itemList %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>

<hr />

<details>
  <summary><h2>{{ meta.blog.tagMore }}</h2></summary>
  <div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
  {% set tagList = collections.tagList | reverse %}
  {% for tag in tagList %}
    <a href="/tags/{{ tag | slugify }}" role="button">#{{ tag }}</a>
  {% endfor %}
</div>
</details>
