---
layout: page
permalink: /tags/index.html
eleventyComputed:
  title: '{{ meta.blog.tagPlural }}'
---
<h2>All Tags</h2>
<nav class="navigation-menu">
  <ul>
  {% set tagList = collections.tagList | reverse %}
  {% for tag in tagList %}
    <li><a href="/tags/{{ tag | slugify }}" role="button">#{{ tag }}</a></li>
  {% endfor %}
  </ul>
</nav>

<hr />

<div class="blog-list">
  {% set itemList = collections.posts %}
  {% for item in itemList %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>