---
layout: page
permalink: /tags/index.html
eleventyComputed:
  title: '{{ meta.blog.tagPlural }}'
---
<details>
  <summary><h2>All Tags</h2></summary>
  <div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
    {% set tagList = collections.tagList | reverse %}
    {% for tag in tagList %}
      <a href="/tags/{{ tag | slugify }}" role="button">#{{ tag }}</a>
    {% endfor %}
  </div>
</details>

<hr />

<div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
  {% set itemList = collections.posts %}
  {% for item in itemList %}
    {% include 'components/post-card.njk' %}
  {% endfor %}
</div>