---
layout: layouts/page.njk
eleventyNavigation:
  key: Colors
  order: 2
title: Colors
---

{% set heading = "UI Colors" %}
{% set textColor = "light" %}
{% set hasBackground = "true" %}
{% include "components/intro.njk" %}

<section class="pb-12 px-6 md:pb-24 grid grid-cols-1 md:grid-cols-4 gap-4 container mx-auto max-w-sm sm:max-w-xl md:max-w-4xl lg:max-w-6xl">
  Something here
</section>