---
layout: layouts/page.njk
image: /assets/images/profile-pic.jpg
eleventyNavigation:
  key: Home
  order: 1
ogImage:
excerpt: All articles are written by Gurpreet Singh, a software engineer based in Frankfurt, Germany. He writes about JavaScript, Node.js, and web development.
---

<section>
  <h2>{{ metadata.author.title }}</h2>
  <p>{{ metadata.author.description }}</p>
</section>
<section>
  <h2>Here's my most recent posts</h2>
  {% for post in collections.posts | reverse | head(6) %}
    {% include "components/post_card.njk" %}
  {% endfor %}
</section>
<p class="center">You can also <a href="{{ metadata.url + metadata.feed.path + metadata.feed.xml }}">subscribe with RSS!</a></p>
