<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ebf4f5, #b5c6e0);
  }

  .title {
    color: #2d3138;
    font-size: 80px;
    margin: auto 0;
  }

  p {
    color: #2d2e32ff;
    font-size: 30px;
    margin: auto 0;
  }
</style>

<div class="root">
  <h1 class="title">{{ title }}</h1>
  <p>by Gurpreet Singh</p>
</div>
