---
layout: layouts/page.njk
title: Posts
eleventyNavigation:
  key: Posts
  order: 2
excerpt: All articles are written by Gurpreet Singh, a software engineer based in Frankfurt, Germany. He writes about JavaScript, Node.js, and web development.
---
<hr/>
<nav>
  {% for year, yearPosts in collections.posts | groupByYear | reverse %}
    <a href="#{{ year }}">{{ year }}</a>
  {% endfor %}
</nav>
<hr/>
<details>
  <summary>View posts by tag</summary>
  {% include "components/tags.njk" %}
</details>
<hr/>
{% for year, yearPosts in collections.posts | groupByYear | reverse %}
<section>
  <h2 id="{{ year }}">{{ year }}</h2>
  {% for post in yearPosts | reverse %}
    {% include "components/post_card.njk" %}
  {% endfor %}
</section>
{% endfor %}
