---
layout: layouts/page.njk
title: Stats
image: /assets/images/profile-pic.jpg
eleventyNavigation:
  key: Stats
  order: 4
keywords: tech blog, gurpreet singh, gurpreet from germany, gurpreet from frankfurt, publicissapient, sapient, publicis, advanced javascript tutorials, best free javascript tutorials, best javascript tutorials, best node js tutorials, best tutorials for node js, node js tutorial blog, tutorial javascript, tutorial node js, tutorial node.js, tutorials on javascript, why node.js
excerpt: Stats of Gurpreet Singh's blog, like first post, recent post, posts per year, all tags
---
{% set firstPost = collections.posts | head(1) %}
{% set recentPost = collections.posts | head(-1) %}

<section>
  <h2>{{ title }}</h2>
  <nav>
    <a href="{{ firstPost[0].url }}">First Post:<br/>{{ firstPost[0].data.title }}</a>
    <a href="{{ recentPost[0].url }}">Recent Post:<br/>{{ recentPost[0].data.title }}</a>
  </nav>
</section>
<section>
  <h2>Posts per year</h2>
  <canvas id="posts_per_year_chart"></canvas>
</section>
