---
layout: layouts/page.njk
pagination:
  reverse: true
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: false
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag | slug }}/
excerpt: List of posts tagged under "{{ tag }}"
---

<h3>Tagged "{{ tag }}"</h3>
{% for post in collections[ tag ] | reverse %}
  <ul>
    {% include "components/post_card.njk" %}
  </ul>
{% endfor %}