---
layout: layouts/page.njk
title: Software, Gear & Stuff I Use
image: /assets/images/profile-pic.jpg
eleventyNavigation:
  key: Uses
  order: 5
excerpt: All articles are written by Gurpreet Singh, a software engineer based in Frankfurt, Germany. He writes about JavaScript, Node.js, and web development.
---

<h1>{{ title }}</h1>
<p>I get a lot of questions about what gear, software, and other stuff I use. To make it easier to share, I've collected
a list here.</p>
{% for key, value in uses %}
  <section>
    <h2 id="{{ key }}">{{ key | capitalize }}</h2>
    {% for obj in uses[ key ] %}
    <article class="article">
      <h3 class="article__title">{{ obj.title }}</h3>
      <p>{{ obj.details | safe }}</p>
      <p>
        <a href="{{ obj.more_info_link }}">More Info
          <svg
            data-wf-icon="ArrowUpRightIcon"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="display:inline">
            <path
              d="M2 12.5701L10.5489 4.02254L4.33037 4.02254L4.33037 2L14 2L14 11.6696L11.9775 11.6696L11.9775 5.45243L3.42987 14L2
                12.5701Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </p>
    </article>
    {% endfor %}
  </section>
{% endfor %}
