<footer>
  <p>
  {% for item in navigation.bottom %}
    <small><a href="{{ item.url }}">{{ item.text }}</a></small>
  {% endfor %}
  </p>
  <p><small>Copyright &copy; {% year %} {{ meta.siteName }} {{ meta.siteName2 }}. All rights reserved.</small></p>
</footer>