<a href="#main" class="skip-to-content">{{ meta.skipContent }}</a>
<header>
  <a href="/" class="logo">{{ meta.siteName }}{{ meta.siteName2 }}</a>
  <nav>
    <ul>
    {% for item in navigation.top %}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>