<a href="#main" class="skip-to-content">{{ meta.skipContent }}</a>
<header>
  <div class="logo">
    <a href="/" aria-label="{{ meta.blog.name }}"><div>LWG Blog</div></a>
  </div>
  <nav>
    <ul>
    {% for item in navigation.top %}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>