<a href="#main" class="skip-link">{{ meta.skipContent }}</a>
<header>
  <a class="title" href="/">
    <h1>{{ meta.siteName }}{{ meta.siteName2 }}</h1>
  </a>
  {% include "partials/main-nav.njk" %}
</header>